<h1 style='display:none'>Nikita Melekhin: System software developer</h1>
<h2 style='display:none'>Nikita Melekhin: System software developer</h2>
<div class = 'container relative'>
    <div class = 'menu_head'>
        <div class = 'logo_box'>
            <div class = 'logo_box_text'>
                <div class = 'logo_box_line'>nikita</div>
                <div class = 'logo_box_line'>melekhin</div>
            </div>
        </div>
        <a href = '/projects.html' class = 'page-title d-none d-md-block' item = 'lesson'>Projects</a>
        <a href = '/blog.html' class = 'page-title d-none d-md-block' item = 'blog'>BLOG</a>
        <a href = '/about.html' class = 'page-title d-none d-md-block' item = 'raiting'>ABOUT ME</a>
        <a href = '/resume.html' class = 'page-title d-none d-md-block' item = 'raiting'>RESUME</a>
    </div>
</div>
<div class = 'transperent-background' id = 'transperent-background'></div>
<div class = 'menu_hamburger d-md-none'>
    <div class = 'container'>
        <div class = 'hhh'>
            <div class = 'logo_box' id = 'menu_log_box'>
                <div class = 'logo_box_text'>
                    <div class = 'logo_box_line'>nikita</div>
                    <div class = 'logo_box_line'>melekhin</div>
                </div>
            </div>
            <div class = 'menu'>
                <a href = '/projects.html' id = 'menu_item4' class = 'menu_item' item = 'lesson'>Projects</a>
                <a href = '/blog.html' id = 'menu_item3' class = 'menu_item' item = 'blog'>BLOG</a>
                <a href = '/about.html' id = 'menu_item2' class = 'menu_item' item = 'raiting'>ABOUT ME</a>
                <a href = '/resume.html' id = 'menu_item1' class = 'menu_item' item = 'raiting'>RESUME</a>
            </div>
        </div>
    </div>
</div>

<div class = 'menu_footer d-md-none'>
    <div class = 'icon'></div>
    <div>
        <a href = "https://github.com/nimelehin" class="icon fab fa-github"></a>
        <a href = "http://linkedin.com/in/nikita-melekhin-b355b5182/" class="icon fab fa-linkedin-in"></a>
        <a href = "" class="icon fab fa-twitter"></a>
        <a href = "mailto:nimelehin@gmail.com" class="icon fas fa-envelope"></a>
    </div>
    <div class = 'icon_mob_handler' id = 'show-menu-button'>
        <div class = 'icon'>
            <i class="fas fa-angle-up"></i>
        </div>
    </div>
</div>